make/bulk-calc.v1.blueprint.json
{
    "name": "bulk-calc",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2219656,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "bulk_calc"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "items",
                        "spec": {
                            "spec": [
                                {
                                    "help": "",
                                    "name": "coin_type_id",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "help": "",
                                    "name": "quantity",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "weight_grams",
                                    "type": "number",
                                    "label": null,
                                    "default": null,
                                    "required": false
                                }
                            ],
                            "type": "collection",
                            "required": false
                        },
                        "type": "array",
                        "label": "Items",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://metals-api.com/api/latest?access_key=REPLACE_WITH_METALS_API_KEY&base=USD&symbols=XAU,XAG,XPT",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.items}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 8572507
            },
            "mapper": {
                "id": "{{3.coin_type_id}}",
                "base": "app8Nd28yqiXl4pcQ",
                "table": "tbl65pXZIR60gnZ26",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Coin Appraisal Register"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Config_CoinTypes"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "name"
                    },
                    {
                        "name": "metal_type",
                        "type": "text",
                        "label": "metal_type"
                    },
                    {
                        "name": "priced_by",
                        "type": "text",
                        "label": "priced_by"
                    },
                    {
                        "name": "oz_metal_per_unit",
                        "type": "number",
                        "label": "oz_metal_per_unit"
                    },
                    {
                        "name": "face_value",
                        "type": "number",
                        "label": "face_value"
                    },
                    {
                        "name": "unit_label",
                        "type": "text",
                        "label": "unit_label"
                    },
                    {
                        "name": "active",
                        "type": "boolean",
                        "label": "active"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 8572507
            },
            "mapper": {
                "base": "app8Nd28yqiXl4pcQ",
                "table": "tblZ59ohYZolethfW",
                "formula": "{category} = \"{{capitalize(4.metal_type)}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Coin Appraisal Register"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Config_Margins"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Category",
                        "type": "text",
                        "label": "Category"
                    },
                    {
                        "name": "margin_pct",
                        "type": "number",
                        "label": "margin_pct"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "units",
                        "value": "{{ifempty(3.quantity; 3.weight_grams)}}"
                    },
                    {
                        "name": "spot",
                        "value": "{{switch(4.metal_type; \"silver\"; 2.data.rates.USDXAG; \"gold\"; 2.data.rates.USDXAU; \"platinum\"; 2.data.rates.USDXPT)}}"
                    },
                    {
                        "name": "unit_value",
                        "value": "{{4.oz_metal_per_unit * switch(4.metal_type; \"silver\"; 2.data.rates.USDXAG; \"gold\"; 2.data.rates.USDXAU; \"platinum\"; 2.data.rates.USDXPT) * 5.margin_pct}}"
                    },
                    {
                        "name": "line_total",
                        "value": "{{ifempty(3.quantity; 3.weight_grams) * 4.oz_metal_per_unit * switch(4.metal_type; \"silver\"; 2.data.rates.USDXAG; \"gold\"; 2.data.rates.USDXAU; \"platinum\"; 2.data.rates.USDXPT) * 5.margin_pct}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "units",
                        "type": "any",
                        "label": "units"
                    },
                    {
                        "name": "spot",
                        "type": "any",
                        "label": "spot"
                    },
                    {
                        "name": "unit_value",
                        "type": "any",
                        "label": "unit_value"
                    },
                    {
                        "name": "line_total",
                        "type": "any",
                        "label": "line_total"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3
            },
            "mapper": {
                "name": "{{4.name}}",
                "units": "{{6.units}}",
                "line_total": "{{6.line_total}}",
                "unit_value": "{{6.unit_value}}",
                "coin_type_id": "{{3.coin_type_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [3]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 8,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "total",
                "scope": "roundtrip",
                "value": "{{sum(map(7.array; \"line_total\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "total",
                        "type": "any",
                        "label": "total"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 351801,
                "space": ""
            },
            "filter": null,
            "mapper": {
                "spot": {
                    "gold": "{{2.data.rates.USDXAU}}",
                    "silver": "{{2.data.rates.USDXAG}}",
                    "platinum": "{{2.data.rates.USDXPT}}"
                },
                "lines": "{{7.array}}",
                "total": "{{8.total}}"
            },
            "metadata": {
                "designer": {
                    "x": 2492,
                    "y": -4
                },
                "restore": {
                    "expect": {
                        "lines": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "type": {
                            "label": "bulk-calc-response-v1"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "spot",
                        "spec": [
                            {
                                "name": "gold",
                                "type": "number",
                                "label": "Gold"
                            },
                            {
                                "name": "silver",
                                "type": "number",
                                "label": "Silver"
                            },
                            {
                                "name": "platinum",
                                "type": "number",
                                "label": "Platinum"
                            }
                        ],
                        "type": "collection",
                        "label": "Spot"
                    },
                    {
                        "name": "lines",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "coin_type_id",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": null
                                },
                                {
                                    "name": "units",
                                    "type": "number",
                                    "label": null
                                },
                                {
                                    "name": "unit_value",
                                    "type": "number",
                                    "label": null
                                },
                                {
                                    "name": "line_total",
                                    "type": "number",
                                    "label": null
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Lines"
                    },
                    {
                        "name": "total",
                        "type": "number",
                        "label": "Total"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{11.json}}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2825,
                    "y": -4
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}